{% apply spaceless -%}
    <div{{ attributes.defaults({ class: 'carousel' ~ (slide ? ' slide'), id: id }) }}>
        <div class="carousel-inner">
            {% for item in items %}
                <div class="carousel-item {{- loop.first ? ' active' }}">
                    <img src="{{ item }}" class="d-block w-100" alt="...">
                </div>
            {% endfor %}
        </div>
        {% if controls %}
            <button class="carousel-control-prev" type="button" data-bs-target="#{{ id }}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#{{ id }}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        {% endif %}
    </div>
{%- endapply %}